.navlink-container {
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    margin: 0px 40px;
}

.navbar {
    &-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 80px;
    }

    &-title {
        padding: 0px 20px;
        font-weight: bold;
        font-family: 'Neucha', cursive;
    }
}
