:root {
  --light-gray: rgb(184, 184, 184); 
  --theme: rgb(220, 44, 44); 
}

.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.shadow {
  box-shadow: 3px 3px 3px 3px darkgrey;
}

